*_env/
configs/
data/
uml_with_methods/
logs/
*__pycache__

opencode.json
.DS_Store
*.patch
.idea
.git
.benchmarks
.pytest_cache
.vs*
*.py[oic]
*~

*:Zone.Identifier

src/approaches/human_like_agent/current_uml.json
src/approaches/human_like_agent/output.json